APP_NAME="Vacancies Market"
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8001
APP_KEY=

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=vacancies_market
DB_USERNAME=vacancies_user
DB_PASSWORD=secret

REDIS_HOST=redis
REDIS_PORT=6379

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_VHOST=/
RABBITMQ_LOGIN=guest
RABBITMQ_PASSWORD=guest